
.hero{
    background-color: black;
}

nav{
    height: 100px;
    background-color: black;
}

.nav-title{
    font-family: 'Monoton', cursive;
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
    color: #ffc367;
}

.title {
    text-align: center;
    color: #ffc367;
    font-size: 30px;
    font-family: 'Monoton', cursive;
   word-spacing: 10px;
}

.border{
    border: 1px solid #9d9d9d;
}

input{
    background-color: black;
    color: #ffc367;
}

.column {
    text-align: center;
}

p{
    padding-bottom: 20px;
    font-size: 18px;
}